<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_view">
        <observer name="samjuk_fetchpriority_catalog_controller_product_view" instance="SamJUK\FetchPriority\Observer\Catalog\Controller\Product\View"/>
    </event>

    <event name="view_block_abstract_to_html_after">
        <observer name="samjuk_fetchpriority_block_to_html_after" instance="SamJUK\FetchPriority\Observer\View\BlockToHtmlAfter"/>
    </event>

    <event name="controller_front_send_response_before">
        <observer name="samjuk_fetchpriority_controller_front_send_response_before" instance="SamJUK\FetchPriority\Observer\ResponseBefore"/>
    </event>
</config>
