name: Continuous Integration

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    name: Linter
    uses: samjuk/github-actions/.github/workflows/magento2-test-lint.yaml@master

  static:
    name: Static Analysis
    uses: samjuk/github-actions/.github/workflows/magento2-test-static.yaml@master
    needs: lint

  unit-tests-ghas:
    name: Unit Tests (GHAS)
    uses: samjuk/gha-test-actions/.github/workflows/magento2-test-unit-module-ghas.yaml@master
    needs: static
    with:
      magento_version: ${{ matrix.magento_version }}
    strategy:
      fail-fast: false
      matrix:
        magento_version:
          - '2.4.8-p3'
          - '2.4.7-p8'
          - '2.4.6-p13'
